:root {
  font:20px/1 "Tahoma", sans-serif;
}
body{
  color: rgb(90, 0, 90);
}
.container{
  background-image: linear-gradient(whitesmoke, rgb(255, 255, 120));
}
.text-center{
  text-align: center;
}
.glob {
  width: 80px;
  height: 80px;
}
.header {
  padding: 1px;
  background: purple;
  color: yellow;
}
.profile-pic{
  width: 200px;
  height: 200px;
}
.article-centre{
  text-align: left;
  display:flex;
  grid-column: 2; 
  padding-left: 50px;
  padding-right: 50px;
  border-left: 5px solid purple;
  border-right: 5px solid purple;
  border-radius: 20px;
  margin: 10px;
  background:whitesmoke;
}
.article-comment{
text-align: left;
display:flex;
grid-column: 2; 
padding-left: 10px;
padding-right: 10px;
border-left: 5px solid yellow;
border-right: 5px solid yellow;
border-radius: 20px;
margin: 10px;
background:whitesmoke;
}
.post-info{
text-align: right;
display:flex;
grid-column: 2; 
padding-left: 50px;
padding-right: 50px;
float: right;
}
.link-list {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
.links {
  float: left;
  text-align: center;
}
.links a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}
.links a:hover {
  background-color: darkmagenta;
}
.centre-form{
  text-align: center;
}
.err{
  color:red;
  font-size: 14px;
}
.title-msg{
  text-align: center;
  display:flex;
  grid-column: 2;
  font-size: 30px;
} 
.middle{
  grid-column: 2;
}
.left{
  grid-column: 1;
}
